services/node-red-flow-orchestrator/flows/fireflies-bloodbank.json
[{"id":"tab_ingest","type":"tab","label":"Ingest -> Bloodbank","disabled":false,"info":"Watch inbox, upload to MinIO, publish fireflies.transcript.upload via bb CLI."},{"id":"watch_recordings","type":"watch","z":"tab_ingest","name":"Watch inbox","files":"${WATCH_DIR}","recursive":true,"x":140,"y":80,"wires":[["log_watch_event"]]},{"id":"log_watch_event","type":"function","z":"tab_ingest","name":"Log watch event","func":"node.warn('[ingest] Watch event: type=' + msg.event + ' file=' + msg.payload + ' filename=' + msg.filename);\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":40,"wires":[["filter_media"]]},{"id":"filter_media","type":"switch","z":"tab_ingest","name":"Only media files","property":"filename","propertyType":"msg","rules":[{"t":"regex","v":"\\.(mp3|wav|m4a|ogg|mp4|mov|mkv)$","vt":"str","case":false},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":80,"wires":[["filter_events"],[]]},{"id":"filter_events","type":"switch","z":"tab_ingest","name":"New or changed files","property":"event","propertyType":"msg","rules":[{"t":"regex","v":"^(add|change|update)$","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":560,"y":80,"wires":[["delay_settle"]]},{"id":"delay_settle","type":"delay","z":"tab_ingest","name":"Wait for file write","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":80,"wires":[["prep_minio"]]},{"id":"prep_minio","type":"function","z":"tab_ingest","name":"Prepare MinIO upload","func":"node.warn('[ingest] Preparing MinIO upload: ' + (msg.filename || msg.payload));\nconst filePath = msg.filename || msg.payload;\nconst fileName = (filePath || '').split('/').pop();\nconst ext = (fileName || '').split('.').pop().toLowerCase();\nconst ts = new Date().toISOString().replace(/[:.]/g, '-');\nconst prefix = env.get('MINIO_PREFIX') || 'recordings';\nconst objectKey = `${prefix}/${ts}-${fileName}`;\n\nconst mimeMap = {\n  mp3: 'audio/mpeg',\n  wav: 'audio/wav',\n  m4a: 'audio/mp4',\n  ogg: 'audio/ogg',\n  mp4: 'video/mp4',\n  mov: 'video/quicktime',\n  mkv: 'video/x-matroska'\n};\n\nfunction uuidv4() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nmsg.meta = {\n  filePath,\n  fileName,\n  ext,\n  mime: mimeMap[ext] || 'application/octet-stream',\n  objectKey,\n  eventId: uuidv4()\n};\n\nmsg.execArgs = `\"${filePath}\" \"${objectKey}\"`;\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":80,"wires":[["minio_presign_exec"]]},{"id":"minio_presign_exec","type":"exec","z":"tab_ingest","name":"Upload + presign","command":"${SCRIPTS_DIR}/.venv/bin/python ${SCRIPTS_DIR}/minio_presign.py","addpay":"execArgs","append":"","useSpawn":"false","timer":"60","winHide":false,"x":1260,"y":80,"wires":[["presign_json"],["debug_minio_err"],[]]},{"id":"presign_json","type":"json","z":"tab_ingest","name":"Parse presign","property":"payload","action":"","pretty":false,"x":1450,"y":80,"wires":[["build_upload_envelope"]]},{"id":"build_upload_envelope","type":"function","z":"tab_ingest","name":"Build upload envelope","func":"node.warn('[ingest] Building upload envelope, presign url: ' + ((msg.payload || {}).url || 'MISSING'));\nconst meta = msg.meta || {};\nconst presign = msg.payload || {};\nconst homeDir = env.get('HOME') || '/home/delorenj';\n\nconst envelope = {\n  event_type: 'fireflies.transcript.upload',\n  event_id: meta.eventId,\n  timestamp: new Date().toISOString(),\n  version: '1.0.0',\n  source: {\n    host: 'node-red',\n    type: 'file_watch',\n    app: 'node-red'\n  },\n  correlation_ids: [],\n  payload: {\n    media_file: presign.url,\n    media_duration_seconds: 0,\n    media_type: presign.content_type || meta.mime,\n    title: meta.fileName,\n    user_id: null,\n    created_at: new Date().toISOString()\n  }\n};\n\nconst outPath = `${homeDir}/.node-red/bb/fireflies-upload-${meta.eventId}.json`;\nmsg.envelope = envelope;\nmsg.payload = JSON.stringify(envelope);\nmsg.filename = outPath;\nmsg.curlData = '@' + outPath;\nnode.warn('[ingest] Envelope built, writing to: ' + outPath);\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":80,"wires":[["write_upload_envelope"]]},{"id":"write_upload_envelope","type":"file","z":"tab_ingest","name":"Write upload envelope","filename":"filename","filenameType":"msg","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"utf8","x":1870,"y":80,"wires":[["bb_publish_upload"]]},{"id":"bb_publish_upload","type":"exec","z":"tab_ingest","name":"bb publish upload","command":"curl -s -X POST http://127.0.0.1:8682/publish -H \"Content-Type: application/json\" -d","addpay":"curlData","append":"","useSpawn":"false","timer":"30","winHide":false,"x":2080,"y":80,"wires":[["debug_upload_done"],["debug_upload_err"],[]]},{"id":"debug_minio_err","type":"debug","z":"tab_ingest","name":"MinIO error","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","x":1260,"y":140,"wires":[]},{"id":"debug_upload_done","type":"debug","z":"tab_ingest","name":"Upload event published","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","x":2080,"y":140,"wires":[]},{"id":"debug_upload_err","type":"debug","z":"tab_ingest","name":"Upload publish error","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","x":2080,"y":180,"wires":[]},{"id":"tab_consume_upload","type":"tab","label":"Consume Upload Event","disabled":false,"info":"Consume fireflies.transcript.upload from RabbitMQ and call Fireflies API."},{"id":"inject_sub_upload","type":"inject","z":"tab_consume_upload","name":"Start subscriber","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"2","topic":"","x":100,"y":80,"wires":[["sub_upload_exec"]]},{"id":"sub_upload_exec","type":"exec","z":"tab_consume_upload","name":"Subscribe upload events","command":"${SCRIPTS_DIR}/.venv/bin/python -u ${SCRIPTS_DIR}/bloodbank_subscribe.py --routing-key fireflies.transcript.upload --queue node-red.fireflies.upload","addpay":"","append":"","useSpawn":"true","timer":"","winHide":false,"x":240,"y":80,"wires":[["upload_json"],["debug_sub_upload_err"],[]]},{"id":"upload_json","type":"json","z":"tab_consume_upload","name":"Parse envelope","property":"payload","action":"","pretty":false,"x":450,"y":80,"wires":[["prep_fireflies_upload"]]},{"id":"prep_fireflies_upload","type":"function","z":"tab_consume_upload","name":"Prepare Fireflies upload","func":"node.warn('[consume-upload] Received upload event: ' + ((msg.payload || {}).event_id || 'unknown'));\nconst envelope = msg.payload || {};\nconst payload = envelope.payload || {};\nconst webhook = env.get('FIREFLIES_WEBHOOK_URL') || '';\n\nmsg.headers = {\n  'content-type': 'application/json',\n  'authorization': `Bearer ${env.get('FIREFLIES_API_KEY') || ''}`\n};\nmsg.payload = {\n  query: 'mutation($input: AudioUploadInput) { uploadAudio(input: $input) { success title message } }',\n  variables: {\n    input: {\n      url: payload.media_file,\n      title: payload.title || 'Recording',\n      webhook: webhook || undefined,\n      client_reference_id: envelope.event_id\n    }\n  }\n};\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":80,"wires":[["fireflies_upload_http"]]},{"id":"fireflies_upload_http","type":"http request","z":"tab_consume_upload","name":"Fireflies uploadAudio","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://api.fireflies.ai/graphql","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"x":940,"y":80,"wires":[["debug_upload_api"]]},{"id":"debug_sub_upload_err","type":"debug","z":"tab_consume_upload","name":"Subscribe upload error","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","x":450,"y":130,"wires":[]},{"id":"debug_upload_api","type":"debug","z":"tab_consume_upload","name":"Fireflies upload result","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","x":950,"y":130,"wires":[]},{"id":"tab_webhook_ready","type":"tab","label":"Webhook -> Ready Event","disabled":false,"info":"Receive Fireflies webhook, fetch transcript, publish fireflies.transcript.ready."},{"id":"fireflies_webhook_in","type":"http in","z":"tab_webhook_ready","name":"Fireflies webhook","url":"/webhooks/fireflies","method":"post","upload":false,"swaggerDoc":"","x":150,"y":80,"wires":[["prep_transcript_query","webhook_ack"]]},{"id":"webhook_ack","type":"http response","z":"tab_webhook_ready","name":"Ack","statusCode":"200","headers":{},"x":360,"y":110,"wires":[]},{"id":"prep_transcript_query","type":"function","z":"tab_webhook_ready","name":"Prepare transcript query","func":"node.warn('[webhook] Fireflies webhook received: ' + JSON.stringify(msg.payload || {}).slice(0, 200));\nconst payload = msg.payload || {};\nconst meetingId = payload.meetingId || payload.meeting_id;\nconst clientRef = payload.clientReferenceId || payload.client_reference_id || payload.clientReferenceID;\nif (!meetingId) {\n  node.error('Missing meetingId in webhook payload', msg);\n  return null;\n}\nmsg.meta = { clientRef };\nmsg.headers = {\n  'content-type': 'application/json',\n  'authorization': `Bearer ${env.get('FIREFLIES_API_KEY') || ''}`\n};\nmsg.payload = {\n  query: `query Transcript($transcriptId: String!) {\n    transcript(id: $transcriptId) {\n      id\n      title\n      date\n      dateString\n      duration\n      transcript_url\n      audio_url\n      video_url\n      host_email\n      organizer_email\n      privacy\n      meeting_link\n      calendar_id\n      calendar_type\n      participants\n      speakers { name }\n      sentences {\n        index\n        speaker_name\n        speaker_id\n        text\n        raw_text\n        start_time\n        end_time\n        ai_filters {\n          task\n          pricing\n          metric\n          question\n          date_and_time\n          text_cleanup\n          sentiment\n        }\n      }\n      user { user_id email name num_transcripts minutes_consumed is_admin }\n      meeting_attendees { displayName email }\n      summary { overview short_summary }\n      meeting_info { fred_joined silent_meeting summary_status }\n    }\n  }`,\n  variables: { transcriptId: meetingId }\n};\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":60,"wires":[["fireflies_transcript_http"]]},{"id":"fireflies_transcript_http","type":"http request","z":"tab_webhook_ready","name":"Fetch transcript","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://api.fireflies.ai/graphql","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"x":850,"y":60,"wires":[["build_ready_envelope"]]},{"id":"build_ready_envelope","type":"function","z":"tab_webhook_ready","name":"Build ready envelope","func":"node.warn('[webhook] Transcript API response status: ' + (msg.statusCode || 'unknown'));\nconst response = msg.payload || {};\nconst transcript = response.data && response.data.transcript;\nif (!transcript) {\n  node.error('Transcript not found in response', msg);\n  return null;\n}\n\nconst meta = msg.meta || {};\nconst correlation = meta.clientRef ? [meta.clientRef] : [];\nconst homeDir = env.get('HOME') || '/home/delorenj';\n\nconst participants = (transcript.meeting_attendees || []).map(p => ({\n  name: p.displayName || p.name || 'Unknown',\n  email: p.email || null\n}));\nconst speakers = (transcript.speakers || []).map(s => s.name).filter(Boolean);\nconst summaryText = (transcript.summary && (transcript.summary.overview || transcript.summary.short_summary)) || null;\n\nfunction uuidv4() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nconst envelope = {\n  event_type: 'fireflies.transcript.ready',\n  event_id: uuidv4(),\n  timestamp: new Date().toISOString(),\n  version: '1.0.0',\n  source: {\n    host: 'node-red',\n    type: 'hook',\n    app: 'node-red'\n  },\n  correlation_ids: correlation,\n  payload: {\n    id: transcript.id,\n    title: transcript.title,\n    date: transcript.date,\n    duration: transcript.duration,\n    transcript_url: transcript.transcript_url,\n    audio_url: transcript.audio_url,\n    video_url: transcript.video_url,\n    sentences: transcript.sentences || [],\n    summary: summaryText,\n    participants: participants,\n    speakers: speakers,\n    user: transcript.user || {},\n    host_email: transcript.host_email,\n    organizer_email: transcript.organizer_email,\n    privacy: transcript.privacy,\n    meeting_link: transcript.meeting_link || null,\n    calendar_id: transcript.calendar_id || null,\n    calendar_type: transcript.calendar_type || null,\n    raw_meeting_info: transcript.meeting_info || null\n  }\n};\n\nconst outPath = `${homeDir}/.node-red/bb/fireflies-ready-${envelope.event_id}.json`;\nmsg.envelope = envelope;\nmsg.payload = JSON.stringify(envelope);\nmsg.filename = outPath;\nmsg.curlData = '@' + outPath;\nnode.warn('[webhook] Ready envelope built, writing to: ' + outPath);\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":60,"wires":[["write_ready_envelope"]]},{"id":"write_ready_envelope","type":"file","z":"tab_webhook_ready","name":"Write ready envelope","filename":"filename","filenameType":"msg","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"utf8","x":1320,"y":60,"wires":[["bb_publish_ready"]]},{"id":"bb_publish_ready","type":"exec","z":"tab_webhook_ready","name":"bb publish ready","command":"curl -s -X POST http://127.0.0.1:8682/publish -H \"Content-Type: application/json\" -d","addpay":"curlData","append":"","useSpawn":"false","timer":"30","winHide":false,"x":1540,"y":60,"wires":[["debug_ready_pub"],["debug_ready_err"],[]]},{"id":"debug_ready_pub","type":"debug","z":"tab_webhook_ready","name":"Ready event published","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","x":1540,"y":110,"wires":[]},{"id":"debug_ready_err","type":"debug","z":"tab_webhook_ready","name":"Ready publish error","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","x":1540,"y":150,"wires":[]},{"id":"tab_consume_ready","type":"tab","label":"Consume Ready Event","disabled":false,"info":"Consume fireflies.transcript.ready and write CSV/Markdown to transcription directory."},{"id":"inject_sub_ready","type":"inject","z":"tab_consume_ready","name":"Start subscriber","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"2","topic":"","x":100,"y":80,"wires":[["sub_ready_exec"]]},{"id":"sub_ready_exec","type":"exec","z":"tab_consume_ready","name":"Subscribe ready events","command":"${SCRIPTS_DIR}/.venv/bin/python -u ${SCRIPTS_DIR}/bloodbank_subscribe.py --routing-key fireflies.transcript.ready --queue node-red.fireflies.ready","addpay":"","append":"","useSpawn":"true","timer":"","winHide":false,"x":230,"y":80,"wires":[["ready_json"],["debug_sub_ready_err"],[]]},{"id":"ready_json","type":"function","z":"tab_consume_ready","name":"Parse envelope","x":440,"y":80,"wires":[["build_outputs"]],"func":"// Buffer chunks from spawn stdout until we have complete JSON lines\nvar buf = context.get('_buf') || '';\nbuf += msg.payload;\n\n// Try to extract complete JSON objects from the buffer\nvar lines = buf.split('\\n');\n// Keep the last fragment (may be incomplete)\nvar remainder = lines.pop();\n\nfor (var i = 0; i < lines.length; i++) {\n    var line = lines[i].trim();\n    if (line.length === 0) continue;\n    try {\n        var parsed = JSON.parse(line);\n        node.send({payload: parsed});\n    } catch(e) {\n        // Not valid JSON yet - prepend back to remainder\n        remainder = line + '\\n' + remainder;\n    }\n}\n\ncontext.set('_buf', remainder);\nreturn null;","outputs":1,"noerr":0},{"id":"build_outputs","type":"function","z":"tab_consume_ready","name":"Build CSV/MD","func":"node.warn('[consume-ready] Building outputs for: ' + ((msg.payload || {}).event_type || 'unknown') + ' id=' + ((msg.payload || {}).event_id || 'unknown'));\nconst envelope = msg.payload || {};\nconst transcript = envelope.payload || {};\n\nconst safe = (transcript.title || transcript.id || 'transcript')\n  .toString().replace(/[^a-z0-9-_]+/gi, '_').slice(0, 80);\nconst baseDir = env.get('TRANSCRIPT_DIR') || '/home/delorenj/d/Transcriptions';\nconst basePath = `${baseDir}/${safe}-${transcript.id}`;\n\nconst sentences = transcript.sentences || [];\nconst csvRows = sentences.map(s => ({\n  index: s.index,\n  speaker: s.speaker_name || s.speaker_id,\n  start_time: s.start_time,\n  end_time: s.end_time,\n  text: s.text\n}));\n\nconst summaryText = transcript.summary || '';\nconst mdLines = [\n  `# ${transcript.title || transcript.id}`,\n  '',\n  transcript.date ? `Date: ${transcript.date}` : '',\n  transcript.duration ? `Duration (min): ${transcript.duration}` : '',\n  transcript.transcript_url ? `Transcript: ${transcript.transcript_url}` : '',\n  '',\n  summaryText ? '## Summary' : '',\n  summaryText || '',\n  '',\n  '## Transcript',\n  ...sentences.map(s => `- **${s.speaker_name || s.speaker_id}**: ${s.text}`)\n].filter(Boolean);\nconst mdContent = mdLines.join('\\n');\n\nconst msgCsv = { payload: csvRows, filename: `${basePath}.csv` };\nconst msgMd = { payload: mdContent, filename: `${basePath}.md` };\nreturn [msgCsv, msgMd];","outputs":2,"noerr":0,"x":640,"y":80,"wires":[["csv_node"],["md_file"]]},{"id":"csv_node","type":"csv","z":"tab_consume_ready","name":"CSV","sep":",","hdrin":true,"hdrout":"all","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":820,"y":60,"wires":[["csv_file"]]},{"id":"csv_file","type":"file","z":"tab_consume_ready","name":"Write CSV","filename":"filename","filenameType":"msg","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"utf8","x":1000,"y":60,"wires":[[]]},{"id":"md_file","type":"file","z":"tab_consume_ready","name":"Write Markdown","filename":"filename","filenameType":"msg","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"utf8","x":1000,"y":100,"wires":[[]]},{"id":"debug_sub_ready_err","type":"debug","z":"tab_consume_ready","name":"Subscribe ready error","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","x":450,"y":130,"wires":[]}]