services/node-red-flow-orchestrator/flows/fireflies-bloodbank.json
[
  {
    "id": "tab_ingest",
    "type": "tab",
    "label": "Ingest -> Bloodbank",
    "disabled": false,
    "info": "Watch inbox, upload to MinIO, publish fireflies.transcript.upload via bb CLI."
  },
  {
    "id": "watch_recordings",
    "type": "watch",
    "z": "tab_ingest",
    "name": "Watch inbox",
    "files": "/home/delorenj/audio/inbox,/home/delorenj/Music",
    "recursive": true,
    "x": 140,
    "y": 80,
    "wires": [
      [
        "log_watch_event"
      ]
    ]
  },
  {
    "id": "log_watch_event",
    "type": "function",
    "z": "tab_ingest",
    "name": "Log watch event",
    "func": "node.warn('[ingest] Watch event: type=' + msg.event + ' file=' + msg.payload + ' filename=' + msg.filename);\nmsg.topic = msg.filename;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 250,
    "y": 40,
    "wires": [
      [
        "filter_media"
      ]
    ]
  },
  {
    "id": "filter_media",
    "type": "switch",
    "z": "tab_ingest",
    "name": "Only media files",
    "property": "filename",
    "propertyType": "msg",
    "rules": [
      {
        "t": "regex",
        "v": "\\.(mp3|wav|m4a|ogg|mp4|mov|mkv)$",
        "vt": "str",
        "case": false
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 350,
    "y": 80,
    "wires": [
      [
        "filter_events"
      ],
      []
    ]
  },
  {
    "id": "filter_events",
    "type": "switch",
    "z": "tab_ingest",
    "name": "New or changed files",
    "property": "event",
    "propertyType": "msg",
    "rules": [
      {
        "t": "regex",
        "v": "^(add|change|update)$",
        "vt": "str",
        "case": false
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 560,
    "y": 80,
    "wires": [
      [
        "delay_settle"
      ]
    ]
  },
  {
    "id": "delay_settle",
    "type": "trigger",
    "z": "tab_ingest",
    "name": "Debounce per file",
    "op1": "",
    "op1type": "nul",
    "op2": "",
    "op2type": "payl",
    "duration": "5",
    "extend": "true",
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "topic",
    "topic": "topic",
    "outputs": 1,
    "x": 780,
    "y": 80,
    "wires": [
      [
        "prep_minio"
      ]
    ]
  },
  {
    "id": "prep_minio",
    "type": "function",
    "z": "tab_ingest",
    "name": "Prepare MinIO upload",
    "func": "node.warn('[ingest] Preparing MinIO upload: ' + (msg.filename || msg.payload));\nconst filePath = msg.filename || msg.payload;\nconst fileName = (filePath || '').split('/').pop();\nconst ext = (fileName || '').split('.').pop().toLowerCase();\nconst ts = new Date().toISOString().replace(/[:.]/g, '-');\nconst prefix = env.get('MINIO_PREFIX') || 'recordings';\nconst objectKey = `${prefix}/${ts}-${fileName}`;\n\nconst mimeMap = {\n  mp3: 'audio/mpeg',\n  wav: 'audio/wav',\n  m4a: 'audio/mp4',\n  ogg: 'audio/ogg',\n  mp4: 'video/mp4',\n  mov: 'video/quicktime',\n  mkv: 'video/x-matroska'\n};\n\nfunction uuidv4() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nmsg.meta = {\n  filePath,\n  fileName,\n  ext,\n  mime: mimeMap[ext] || 'application/octet-stream',\n  objectKey,\n  eventId: uuidv4()\n};\n\nmsg.execArgs = `\"${filePath}\" \"${objectKey}\"`;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1030,
    "y": 80,
    "wires": [
      [
        "bridge_to_hash"
      ]
    ]
  },
  {
    "id": "minio_presign_exec",
    "type": "exec",
    "z": "tab_ingest",
    "name": "Upload + presign",
    "command": "/home/delorenj/code/33GOD/services/node-red-flow-orchestrator/scripts/.venv/bin/python /home/delorenj/code/33GOD/services/node-red-flow-orchestrator/scripts/minio_presign.py",
    "addpay": "execArgs",
    "append": "",
    "useSpawn": "false",
    "timer": "600",
    "winHide": false,
    "x": 1260,
    "y": 80,
    "wires": [
      [
        "presign_json"
      ],
      [
        "ledger_minio_error_fn"
      ],
      []
    ]
  },
  {
    "id": "presign_json",
    "type": "json",
    "z": "tab_ingest",
    "name": "Parse presign",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 1450,
    "y": 80,
    "wires": [
      [
        "ledger_patch_uploaded_fn"
      ]
    ]
  },
  {
    "id": "build_upload_envelope",
    "type": "function",
    "z": "tab_ingest",
    "name": "Build upload envelope",
    "func": "node.warn('[ingest] Building upload envelope, presign url: ' + ((msg.payload || {}).url || 'MISSING'));\nconst meta = msg.meta || {};\nconst presign = msg.payload || {};\nconst homeDir = env.get('HOME') || '/home/delorenj';\n\nconst envelope = {\n  event_type: 'fireflies.transcript.upload',\n  event_id: meta.eventId,\n  timestamp: new Date().toISOString(),\n  version: '1.0.0',\n  source: {\n    host: 'node-red',\n    type: 'file_watch',\n    app: 'node-red'\n  },\n  correlation_ids: [],\n  payload: {\n    media_file: presign.url,\n    media_duration_seconds: 0,\n    media_type: presign.content_type || meta.mime,\n    title: meta.fileName,\n    user_id: null,\n    created_at: new Date().toISOString(),\n    content_hash: meta.contentHash,\n    minio_bucket: presign.bucket || (env.get('MINIO_BUCKET') || 'echobox'),\n    minio_key: meta.objectKey || '',\n    minio_url: presign.url || ''\n  }\n};\n\nconst outPath = `${homeDir}/.node-red/bb/fireflies-upload-${meta.eventId}.json`;\nmsg.envelope = envelope;\nmsg.payload = JSON.stringify(envelope);\nmsg.filename = outPath;\nmsg.curlData = '@' + outPath;\nnode.warn('[ingest] Envelope built with content_hash=' + (meta.contentHash || 'MISSING').slice(0,12) + ', writing to: ' + outPath);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1650,
    "y": 80,
    "wires": [
      [
        "write_upload_envelope"
      ]
    ]
  },
  {
    "id": "write_upload_envelope",
    "type": "file",
    "z": "tab_ingest",
    "name": "Write upload envelope",
    "filename": "filename",
    "filenameType": "msg",
    "appendNewline": false,
    "createDir": true,
    "overwriteFile": "true",
    "encoding": "utf8",
    "x": 1870,
    "y": 80,
    "wires": [
      [
        "bb_publish_upload"
      ]
    ]
  },
  {
    "id": "bb_publish_upload",
    "type": "exec",
    "z": "tab_ingest",
    "name": "bb publish upload",
    "command": "curl -s -X POST http://127.0.0.1:8682/publish -H \"Content-Type: application/json\" -d",
    "addpay": "curlData",
    "append": "",
    "useSpawn": "false",
    "timer": "30",
    "winHide": false,
    "x": 2080,
    "y": 80,
    "wires": [
      [
        "debug_upload_done"
      ],
      [
        "ledger_publish_error_fn"
      ],
      []
    ]
  },
  {
    "id": "debug_minio_err",
    "type": "debug",
    "z": "tab_ingest",
    "name": "MinIO error",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": true,
    "complete": "true",
    "targetType": "full",
    "x": 1260,
    "y": 140,
    "wires": []
  },
  {
    "id": "debug_upload_done",
    "type": "debug",
    "z": "tab_ingest",
    "name": "Upload event published",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": true,
    "complete": "true",
    "targetType": "full",
    "x": 2080,
    "y": 140,
    "wires": []
  },
  {
    "id": "debug_upload_err",
    "type": "debug",
    "z": "tab_ingest",
    "name": "Upload publish error",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": true,
    "complete": "true",
    "targetType": "full",
    "x": 2080,
    "y": 180,
    "wires": []
  },
  {
    "id": "tab_consume_upload",
    "type": "tab",
    "label": "Consume Upload Event",
    "disabled": false,
    "info": "Consume fireflies.transcript.upload from RabbitMQ and call Fireflies API."
  },
  {
    "id": "inject_sub_upload",
    "type": "inject",
    "z": "tab_consume_upload",
    "name": "Start subscriber",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "2",
    "topic": "",
    "x": 100,
    "y": 80,
    "wires": [
      [
        "sub_upload_exec"
      ]
    ]
  },
  {
    "id": "sub_upload_exec",
    "type": "exec",
    "z": "tab_consume_upload",
    "name": "Subscribe upload events",
    "command": "/home/delorenj/code/33GOD/services/node-red-flow-orchestrator/scripts/.venv/bin/python -u /home/delorenj/code/33GOD/services/node-red-flow-orchestrator/scripts/bloodbank_subscribe.py --routing-key fireflies.transcript.upload --queue node-red.fireflies.upload",
    "addpay": "",
    "append": "",
    "useSpawn": "true",
    "timer": "",
    "winHide": false,
    "x": 240,
    "y": 80,
    "wires": [
      [
        "upload_json"
      ],
      [
        "debug_sub_upload_err"
      ],
      []
    ]
  },
  {
    "id": "upload_json",
    "type": "function",
    "z": "tab_consume_upload",
    "name": "Parse envelope",
    "func": "var buf = context.get('_buf') || '';\nbuf += msg.payload;\nvar lines = buf.split('\\n');\nvar remainder = lines.pop();\nfor (var i = 0; i < lines.length; i++) {\n    var line = lines[i].trim();\n    if (line.length === 0) continue;\n    try {\n        var parsed = JSON.parse(line);\n        node.send({payload: parsed});\n    } catch(e) {\n        remainder = line + '\\n' + remainder;\n    }\n}\ncontext.set('_buf', remainder);\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "x": 450,
    "y": 80,
    "wires": [
      [
        "prep_fireflies_upload"
      ]
    ]
  },
  {
    "id": "prep_fireflies_upload",
    "type": "function",
    "z": "tab_consume_upload",
    "name": "Prepare Fireflies upload",
    "func": "node.warn('[consume-upload] Received upload event: ' + ((msg.payload || {}).event_id || 'unknown'));\nconst envelope = msg.payload || {};\nconst payload = envelope.payload || {};\nconst webhook = env.get('FIREFLIES_WEBHOOK_URL') || '';\n\n// Preserve content_hash and envelope for downstream ledger updates\nconst contentHash = payload.content_hash || null;\nmsg._contentHash = contentHash;\nmsg._originalEnvelope = envelope;\n\nmsg.headers = {\n  'content-type': 'application/json',\n  'authorization': `Bearer ${env.get('FIREFLIES_API_KEY') || ''}`\n};\n\n// Use content_hash as client_reference_id so the webhook can identify the job\nmsg.payload = {\n  query: 'mutation($input: AudioUploadInput) { uploadAudio(input: $input) { success title message } }',\n  variables: {\n    input: {\n      url: payload.media_file,\n      title: payload.title || 'Recording',\n      webhook: webhook || undefined,\n      client_reference_id: contentHash || envelope.event_id\n    }\n  }\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 700,
    "y": 80,
    "wires": [
      [
        "fireflies_upload_http"
      ]
    ]
  },
  {
    "id": "fireflies_upload_http",
    "type": "http request",
    "z": "tab_consume_upload",
    "name": "Fireflies uploadAudio",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "https://api.fireflies.ai/graphql",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "x": 940,
    "y": 80,
    "wires": [
      [
        "debug_upload_api",
        "ledger_update_transcribing"
      ]
    ]
  },
  {
    "id": "debug_sub_upload_err",
    "type": "debug",
    "z": "tab_consume_upload",
    "name": "Subscribe upload error",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": true,
    "complete": "true",
    "targetType": "full",
    "x": 450,
    "y": 130,
    "wires": []
  },
  {
    "id": "debug_upload_api",
    "type": "debug",
    "z": "tab_consume_upload",
    "name": "Fireflies upload result",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": true,
    "complete": "true",
    "targetType": "full",
    "x": 950,
    "y": 130,
    "wires": []
  },
  {
    "id": "tab_webhook_ready",
    "type": "tab",
    "label": "Webhook -> Ready Event",
    "disabled": false,
    "info": "Receive Fireflies webhook, fetch transcript, publish fireflies.transcript.ready."
  },
  {
    "id": "fireflies_webhook_in",
    "type": "http in",
    "z": "tab_webhook_ready",
    "name": "Fireflies webhook",
    "url": "/webhooks/fireflies",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 150,
    "y": 80,
    "wires": [
      [
        "prep_transcript_query",
        "webhook_ack"
      ]
    ]
  },
  {
    "id": "webhook_ack",
    "type": "http response",
    "z": "tab_webhook_ready",
    "name": "Ack",
    "statusCode": "200",
    "headers": {},
    "x": 360,
    "y": 110,
    "wires": []
  },
  {
    "id": "prep_transcript_query",
    "type": "function",
    "z": "tab_webhook_ready",
    "name": "Prepare transcript query",
    "func": "// Debounce progressive Fireflies webhooks \u2014 only process the last one per upload\nconst payload = msg.payload || {};\nconst meetingId = payload.meetingId || payload.meeting_id;\nconst clientRef = payload.clientReferenceId || payload.client_reference_id || payload.clientReferenceID;\n\nif (!meetingId) {\n  node.error('Missing meetingId in webhook payload', msg);\n  return null;\n}\n\nnode.warn('[webhook] Fireflies webhook: meetingId=' + meetingId + ' clientRef=' + (clientRef || 'none'));\n\n// clientRef is now the content_hash (set in consume-upload tab)\nconst contentHash = clientRef || null;\n\n// Use clientRef as debounce key; fall back to meetingId if no clientRef\nconst debounceKey = clientRef || meetingId;\nconst DEBOUNCE_MS = 120000; // 2 minutes\n\nconst timers = flow.get('_webhook_timers') || {};\nconst pending = flow.get('_webhook_pending') || {};\n\nif (timers[debounceKey]) {\n  clearTimeout(timers[debounceKey]);\n  node.warn('[webhook] Debounce reset for ' + debounceKey + ', newer webhook arrived');\n}\n\npending[debounceKey] = { meetingId, clientRef, contentHash, receivedAt: Date.now() };\nflow.set('_webhook_pending', pending);\n\nconst timer = setTimeout(() => {\n  const p = flow.get('_webhook_pending') || {};\n  const entry = p[debounceKey];\n  if (!entry) return;\n\n  delete p[debounceKey];\n  flow.set('_webhook_pending', p);\n  const t = flow.get('_webhook_timers') || {};\n  delete t[debounceKey];\n  flow.set('_webhook_timers', t);\n\n  node.warn('[webhook] Debounce complete for ' + debounceKey + ', fetching transcript: ' + entry.meetingId);\n\n  const outMsg = {\n    meta: { clientRef: entry.clientRef, contentHash: entry.contentHash },\n    headers: {\n      'content-type': 'application/json',\n      'authorization': 'Bearer ' + (env.get('FIREFLIES_API_KEY') || '')\n    },\n    payload: {\n      query: `query Transcript($transcriptId: String!) {\n        transcript(id: $transcriptId) {\n          id title date dateString duration\n          transcript_url audio_url video_url\n          host_email organizer_email privacy\n          meeting_link calendar_id calendar_type\n          participants\n          speakers { name }\n          sentences {\n            index speaker_name speaker_id text raw_text\n            start_time end_time\n            ai_filters { task pricing metric question date_and_time text_cleanup sentiment }\n          }\n          user { user_id email name num_transcripts minutes_consumed is_admin }\n          meeting_attendees { displayName email }\n          summary { overview short_summary }\n          meeting_info { fred_joined silent_meeting summary_status }\n        }\n      }`,\n      variables: { transcriptId: entry.meetingId }\n    }\n  };\n  node.send(outMsg);\n}, DEBOUNCE_MS);\n\ntimers[debounceKey] = timer;\nflow.set('_webhook_timers', timers);\n\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "x": 620,
    "y": 60,
    "wires": [
      [
        "fireflies_transcript_http"
      ]
    ]
  },
  {
    "id": "fireflies_transcript_http",
    "type": "http request",
    "z": "tab_webhook_ready",
    "name": "Fetch transcript",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "https://api.fireflies.ai/graphql",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "x": 850,
    "y": 60,
    "wires": [
      [
        "ledger_patch_ready_fn"
      ]
    ]
  },
  {
    "id": "build_ready_envelope",
    "type": "function",
    "z": "tab_webhook_ready",
    "name": "Build ready envelope",
    "func": "node.warn('[webhook] Transcript API response status: ' + (msg.statusCode || 'unknown'));\nconst response = msg.payload || {};\nconst transcript = response.data && response.data.transcript;\nif (!transcript) {\n  node.error('Transcript not found in response', msg);\n  return null;\n}\n\nconst meta = msg.meta || {};\nconst contentHash = meta.contentHash || null;\nconst correlation = [];\nif (meta.clientRef) correlation.push(meta.clientRef);\nif (contentHash && contentHash !== meta.clientRef) correlation.push(contentHash);\nconst homeDir = env.get('HOME') || '/home/delorenj';\n\nconst participants = (transcript.meeting_attendees || []).map(p => ({\n  name: p.displayName || p.name || 'Unknown',\n  email: p.email || null\n}));\nconst speakers = (transcript.speakers || []).map(s => s.name).filter(Boolean);\nconst summaryText = (transcript.summary && (transcript.summary.overview || transcript.summary.short_summary)) || null;\n\nfunction uuidv4() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nconst envelope = {\n  event_type: 'fireflies.transcript.ready',\n  event_id: uuidv4(),\n  timestamp: new Date().toISOString(),\n  version: '1.0.0',\n  source: {\n    host: 'node-red',\n    type: 'hook',\n    app: 'node-red'\n  },\n  correlation_ids: correlation,\n  payload: {\n    id: transcript.id,\n    title: transcript.title,\n    date: transcript.date,\n    duration: transcript.duration,\n    transcript_url: transcript.transcript_url,\n    audio_url: transcript.audio_url,\n    video_url: transcript.video_url,\n    sentences: transcript.sentences || [],\n    summary: summaryText,\n    participants: participants,\n    speakers: speakers,\n    user: transcript.user || {},\n    host_email: transcript.host_email,\n    organizer_email: transcript.organizer_email,\n    privacy: transcript.privacy,\n    meeting_link: transcript.meeting_link || null,\n    calendar_id: transcript.calendar_id || null,\n    calendar_type: transcript.calendar_type || null,\n    raw_meeting_info: transcript.meeting_info || null,\n    content_hash: contentHash\n  }\n};\n\nconst outPath = `${homeDir}/.node-red/bb/fireflies-ready-${envelope.event_id}.json`;\nmsg.envelope = envelope;\nmsg.payload = JSON.stringify(envelope);\nmsg.filename = outPath;\nmsg.curlData = '@' + outPath;\nnode.warn('[webhook] Ready envelope built with content_hash=' + (contentHash || 'MISSING') + ', writing to: ' + outPath);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1100,
    "y": 60,
    "wires": [
      [
        "write_ready_envelope"
      ]
    ]
  },
  {
    "id": "write_ready_envelope",
    "type": "file",
    "z": "tab_webhook_ready",
    "name": "Write ready envelope",
    "filename": "filename",
    "filenameType": "msg",
    "appendNewline": false,
    "createDir": true,
    "overwriteFile": "true",
    "encoding": "utf8",
    "x": 1320,
    "y": 60,
    "wires": [
      [
        "bb_publish_ready"
      ]
    ]
  },
  {
    "id": "bb_publish_ready",
    "type": "exec",
    "z": "tab_webhook_ready",
    "name": "bb publish ready",
    "command": "curl -s -X POST http://127.0.0.1:8682/publish -H \"Content-Type: application/json\" -d",
    "addpay": "curlData",
    "append": "",
    "useSpawn": "false",
    "timer": "30",
    "winHide": false,
    "x": 1540,
    "y": 60,
    "wires": [
      [
        "debug_ready_pub"
      ],
      [
        "debug_ready_err"
      ],
      []
    ]
  },
  {
    "id": "debug_ready_pub",
    "type": "debug",
    "z": "tab_webhook_ready",
    "name": "Ready event published",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": true,
    "complete": "true",
    "targetType": "full",
    "x": 1540,
    "y": 110,
    "wires": []
  },
  {
    "id": "debug_ready_err",
    "type": "debug",
    "z": "tab_webhook_ready",
    "name": "Ready publish error",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": true,
    "complete": "true",
    "targetType": "full",
    "x": 1540,
    "y": 150,
    "wires": []
  },
  {
    "id": "tab_consume_ready",
    "type": "tab",
    "label": "Consume Ready Event",
    "disabled": false,
    "info": "Consume fireflies.transcript.ready and write CSV/Markdown to transcription directory."
  },
  {
    "id": "inject_sub_ready",
    "type": "inject",
    "z": "tab_consume_ready",
    "name": "Start subscriber",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "2",
    "topic": "",
    "x": 100,
    "y": 80,
    "wires": [
      [
        "sub_ready_exec"
      ]
    ]
  },
  {
    "id": "sub_ready_exec",
    "type": "exec",
    "z": "tab_consume_ready",
    "name": "Subscribe ready events",
    "command": "/home/delorenj/code/33GOD/services/node-red-flow-orchestrator/scripts/.venv/bin/python -u /home/delorenj/code/33GOD/services/node-red-flow-orchestrator/scripts/bloodbank_subscribe.py --routing-key fireflies.transcript.ready --queue node-red.fireflies.ready",
    "addpay": "",
    "append": "",
    "useSpawn": "true",
    "timer": "",
    "winHide": false,
    "x": 230,
    "y": 80,
    "wires": [
      [
        "ready_json"
      ],
      [
        "debug_sub_ready_err"
      ],
      []
    ]
  },
  {
    "id": "ready_json",
    "type": "function",
    "z": "tab_consume_ready",
    "name": "Parse envelope",
    "x": 440,
    "y": 80,
    "wires": [
      [
        "build_outputs"
      ]
    ],
    "func": "// Buffer chunks from spawn stdout until we have complete JSON lines\nvar buf = context.get('_buf') || '';\nbuf += msg.payload;\n\n// Try to extract complete JSON objects from the buffer\nvar lines = buf.split('\\n');\n// Keep the last fragment (may be incomplete)\nvar remainder = lines.pop();\n\nfor (var i = 0; i < lines.length; i++) {\n    var line = lines[i].trim();\n    if (line.length === 0) continue;\n    try {\n        var parsed = JSON.parse(line);\n        node.send({payload: parsed});\n    } catch(e) {\n        // Not valid JSON yet - prepend back to remainder\n        remainder = line + '\\n' + remainder;\n    }\n}\n\ncontext.set('_buf', remainder);\nreturn null;",
    "outputs": 1,
    "noerr": 0
  },
  {
    "id": "build_outputs",
    "type": "function",
    "z": "tab_consume_ready",
    "name": "Build CSV/MD",
    "func": "node.warn('[consume-ready] Building outputs for: ' + ((msg.payload || {}).event_type || 'unknown') + ' id=' + ((msg.payload || {}).event_id || 'unknown'));\nconst envelope = msg.payload || {};\nconst transcript = envelope.payload || {};\nconst contentHash = transcript.content_hash || null;\n\nconst safe = (transcript.title || transcript.id || 'transcript')\n  .toString().replace(/[^a-z0-9-_]+/gi, '_').slice(0, 80);\nconst baseDir = env.get('TRANSCRIPT_DIR') || '/home/delorenj/d/Transcripts';\nconst basePath = `${baseDir}/${safe}-${transcript.id}`;\n\nconst sentences = transcript.sentences || [];\nconst csvRows = sentences.map(s => ({\n  index: s.index,\n  speaker: s.speaker_name || s.speaker_id,\n  start_time: s.start_time,\n  end_time: s.end_time,\n  text: s.text\n}));\n\nconst summaryText = transcript.summary || '';\nconst mdLines = [\n  `# ${transcript.title || transcript.id}`,\n  '',\n  transcript.date ? `Date: ${transcript.date}` : '',\n  transcript.duration ? `Duration (min): ${transcript.duration}` : '',\n  transcript.transcript_url ? `Transcript: ${transcript.transcript_url}` : '',\n  '',\n  summaryText ? '## Summary' : '',\n  summaryText || '',\n  '',\n  '## Transcript',\n  ...sentences.map(s => `- **${s.speaker_name || s.speaker_id}**: ${s.text}`)\n].filter(Boolean);\nconst mdContent = mdLines.join('\\n');\n\nconst msgCsv = { payload: csvRows, filename: `${basePath}.csv` };\nconst msgMd = { payload: mdContent, filename: `${basePath}.md` };\n\n// Third output: ledger completion update using content_hash\nconst ledgerMsg = {\n  headers: { 'content-type': 'application/json' },\n  payload: {\n    status: 'completed',\n    transcript_path: msgMd.filename,\n    csv_path: msgCsv.filename,\n    fireflies_id: transcript.id\n  }\n};\n\nif (contentHash) {\n  ledgerMsg.url = 'http://localhost:18697/jobs/' + encodeURIComponent(contentHash);\n} else {\n  node.warn('[consume-ready] No content_hash in ready envelope, ledger update will be skipped');\n  ledgerMsg.url = 'http://localhost:18697/jobs/unknown';\n}\n\nreturn [msgCsv, msgMd, ledgerMsg];",
    "outputs": 3,
    "noerr": 0,
    "x": 640,
    "y": 80,
    "wires": [
      [
        "csv_node"
      ],
      [
        "md_file"
      ],
      [
        "ledger_complete"
      ]
    ]
  },
  {
    "id": "csv_node",
    "type": "csv",
    "z": "tab_consume_ready",
    "name": "CSV",
    "sep": ",",
    "hdrin": true,
    "hdrout": "all",
    "multi": "one",
    "ret": "\\n",
    "temp": "",
    "skip": "0",
    "strings": true,
    "include_empty_strings": false,
    "include_null_values": false,
    "x": 820,
    "y": 60,
    "wires": [
      [
        "csv_file"
      ]
    ]
  },
  {
    "id": "csv_file",
    "type": "file",
    "z": "tab_consume_ready",
    "name": "Write CSV",
    "filename": "filename",
    "filenameType": "msg",
    "appendNewline": true,
    "createDir": true,
    "overwriteFile": "true",
    "encoding": "utf8",
    "x": 1000,
    "y": 60,
    "wires": [
      []
    ]
  },
  {
    "id": "md_file",
    "type": "file",
    "z": "tab_consume_ready",
    "name": "Write Markdown",
    "filename": "filename",
    "filenameType": "msg",
    "appendNewline": true,
    "createDir": true,
    "overwriteFile": "true",
    "encoding": "utf8",
    "x": 1000,
    "y": 100,
    "wires": [
      []
    ]
  },
  {
    "id": "debug_sub_ready_err",
    "type": "debug",
    "z": "tab_consume_ready",
    "name": "Subscribe ready error",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": true,
    "complete": "true",
    "targetType": "full",
    "x": 450,
    "y": 130,
    "wires": []
  },
  {
    "id": "bridge_to_hash",
    "type": "function",
    "z": "tab_ingest",
    "name": "Set hash input",
    "func": "msg.meta = msg.meta || {};\nmsg.meta.filePath = msg.meta.filePath;\nmsg.meta.fileName = msg.meta.fileName;\nmsg.meta.objectKey = msg.meta.objectKey;\nmsg.meta.mime = msg.meta.mime;\nmsg.meta.eventId = msg.meta.eventId;\nmsg.payload = '\"' + msg.meta.filePath + '\"';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 780,
    "y": 80,
    "wires": [
      [
        "compute_hash"
      ]
    ]
  },
  {
    "id": "compute_hash",
    "type": "exec",
    "z": "tab_ingest",
    "name": "SHA256 hash",
    "command": "sha256sum",
    "addpay": "payload",
    "append": "",
    "useSpawn": "false",
    "timer": "60",
    "winHide": false,
    "x": 780,
    "y": 140,
    "wires": [
      [
        "parse_hash"
      ],
      [],
      []
    ]
  },
  {
    "id": "parse_hash",
    "type": "function",
    "z": "tab_ingest",
    "name": "Parse hash + check ledger",
    "func": "const stdout = (msg.payload || '').trim();\nconst hash = stdout.split(/\\s+/)[0];\nif (!hash || hash.length !== 64) {\n  node.error('Invalid SHA256: ' + stdout, msg);\n  return null;\n}\nmsg.meta = msg.meta || {};\nmsg.meta.contentHash = hash;\n\n// Prepare ledger dedup check\nmsg.headers = { 'content-type': 'application/json' };\nmsg.payload = { content_hash: hash };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 970,
    "y": 140,
    "wires": [
      [
        "ledger_check"
      ]
    ]
  },
  {
    "id": "ledger_check",
    "type": "http request",
    "z": "tab_ingest",
    "name": "Ledger dedup check",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://localhost:18697/jobs/check",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "x": 1170,
    "y": 140,
    "wires": [
      [
        "ledger_check_route"
      ]
    ]
  },
  {
    "id": "ledger_check_route",
    "type": "function",
    "z": "tab_ingest",
    "name": "Dedup gate",
    "func": "const resp = msg.payload || {};\nif (resp.exists && resp.job && resp.job.status === 'completed') {\n  node.warn('[ingest] Dedup: already completed, skipping ' + msg.meta.contentHash.slice(0,12));\n  return null;\n}\nif (resp.exists && resp.job) {\n  node.warn('[ingest] Dedup: exists but status=' + resp.job.status + ', re-processing');\n}\n// Continue to create/update ledger job then upload\nconst meta = msg.meta || {};\nmsg.headers = { 'content-type': 'application/json' };\nmsg.payload = {\n  content_hash: meta.contentHash,\n  source_path: meta.filePath,\n  source_filename: meta.fileName,\n  source_mime: meta.mime,\n  source_size_bytes: 0,\n  event_id: meta.eventId\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1370,
    "y": 140,
    "wires": [
      [
        "ledger_create"
      ]
    ]
  },
  {
    "id": "ledger_create",
    "type": "http request",
    "z": "tab_ingest",
    "name": "Ledger create job",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://localhost:18697/jobs",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "x": 1560,
    "y": 140,
    "wires": [
      [
        "ledger_post_create"
      ]
    ]
  },
  {
    "id": "ledger_post_create",
    "type": "function",
    "z": "tab_ingest",
    "name": "Restore meta + continue",
    "func": "// Ledger job created (or 409 if exists). Restore msg for MinIO upload.\nconst meta = msg.meta || {};\nnode.warn('[ingest] Ledger job created/exists for ' + (meta.contentHash || '').slice(0,12));\nmsg.execArgs = '\"' + meta.filePath + '\" \"' + meta.objectKey + '\"';\nmsg.filename = meta.filePath;\nmsg._ledgerHash = meta.contentHash;\n// PATCH ledger to uploading status\nmsg._nextPayload = {\n  execArgs: msg.execArgs,\n  filename: msg.filename\n};\nmsg.headers = { 'content-type': 'application/json' };\nmsg.url = 'http://localhost:18697/jobs/' + encodeURIComponent(meta.contentHash);\nmsg.payload = { status: 'uploading' };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1760,
    "y": 140,
    "wires": [
      [
        "ledger_patch_uploading"
      ]
    ]
  },
  {
    "id": "ledger_update_transcribing",
    "type": "function",
    "z": "tab_consume_upload",
    "name": "Ledger -> transcribing",
    "func": "const resp = msg.payload || {};\nconst data = resp.data || {};\nconst upload = data.uploadAudio || {};\nconst contentHash = msg._contentHash;\n\nif (!upload.success) {\n  node.warn('[upload] Fireflies upload failed: ' + (upload.message || 'unknown'));\n  // Send error to second output for error PATCH\n  if (contentHash) {\n    const errMsg = {\n      headers: { 'content-type': 'application/json' },\n      url: 'http://localhost:18697/jobs/' + encodeURIComponent(contentHash),\n      payload: {\n        status: 'failed',\n        error_message: 'Fireflies uploadAudio failed: ' + (upload.message || 'unknown'),\n        error_stage: 'transcribing'\n      }\n    };\n    return [null, errMsg];\n  }\n  return [null, null];\n}\n\nif (!contentHash) {\n  node.warn('[upload] Fireflies upload succeeded but no content_hash available for ledger');\n  return [null, null];\n}\n\nnode.warn('[upload] Fireflies upload succeeded, updating ledger for ' + contentHash.slice(0,12));\nmsg.headers = { 'content-type': 'application/json' };\nmsg.url = 'http://localhost:18697/jobs/' + encodeURIComponent(contentHash);\nmsg.payload = {\n  status: 'transcribing',\n  fireflies_ref: upload.title || null\n};\nreturn [msg, null];",
    "outputs": 2,
    "noerr": 0,
    "x": 950,
    "y": 180,
    "wires": [
      [
        "ledger_patch_transcribing"
      ],
      [
        "ledger_patch_upload_fail"
      ]
    ]
  },
  {
    "id": "ledger_complete",
    "type": "http request",
    "z": "tab_consume_ready",
    "name": "Ledger -> completed",
    "method": "PATCH",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "x": 1000,
    "y": 160,
    "wires": [
      [
        "debug_ledger_complete"
      ]
    ]
  },
  {
    "id": "debug_ledger_complete",
    "type": "debug",
    "z": "tab_consume_ready",
    "name": "Ledger update result",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": true,
    "complete": "true",
    "targetType": "full",
    "x": 1200,
    "y": 160,
    "wires": []
  },
  {
    "id": "ledger_patch_uploading",
    "type": "http request",
    "z": "tab_ingest",
    "name": "Ledger -> uploading",
    "method": "PATCH",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "x": 1960,
    "y": 140,
    "wires": [
      [
        "restore_for_minio"
      ]
    ]
  },
  {
    "id": "restore_for_minio",
    "type": "function",
    "z": "tab_ingest",
    "name": "Restore for MinIO",
    "func": "// Restore msg fields for MinIO upload after ledger PATCH\nconst meta = msg.meta || {};\nmsg.execArgs = '\"' + meta.filePath + '\" \"' + meta.objectKey + '\"';\nmsg.filename = meta.filePath;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 2160,
    "y": 140,
    "wires": [
      [
        "minio_presign_exec"
      ]
    ]
  },
  {
    "id": "ledger_patch_uploaded_fn",
    "type": "function",
    "z": "tab_ingest",
    "name": "Prep uploaded PATCH",
    "func": "// PATCH ledger with uploaded status and MinIO details\nconst meta = msg.meta || {};\nconst presign = msg.payload || {};\n// Save presign data for later\nmsg._presignData = presign;\nmsg.headers = { 'content-type': 'application/json' };\nmsg.url = 'http://localhost:18697/jobs/' + encodeURIComponent(meta.contentHash);\nconst bucket = (presign.bucket || (env.get('MINIO_BUCKET') || 'echobox'));\nconst key = meta.objectKey || presign.key || '';\nmsg.payload = {\n  status: 'uploaded',\n  minio_bucket: bucket,\n  minio_key: key,\n  minio_url: presign.url || ''\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1450,
    "y": 180,
    "wires": [
      [
        "ledger_patch_uploaded"
      ]
    ]
  },
  {
    "id": "ledger_patch_uploaded",
    "type": "http request",
    "z": "tab_ingest",
    "name": "Ledger -> uploaded",
    "method": "PATCH",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "x": 1650,
    "y": 180,
    "wires": [
      [
        "restore_for_envelope"
      ]
    ]
  },
  {
    "id": "restore_for_envelope",
    "type": "function",
    "z": "tab_ingest",
    "name": "Restore for envelope",
    "func": "// Restore presign data after ledger PATCH\nmsg.payload = msg._presignData || {};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1850,
    "y": 180,
    "wires": [
      [
        "build_upload_envelope"
      ]
    ]
  },
  {
    "id": "ledger_minio_error_fn",
    "type": "function",
    "z": "tab_ingest",
    "name": "Prep MinIO error PATCH",
    "func": "// PATCH ledger with failed status on MinIO error\nconst meta = msg.meta || {};\nconst errMsg = (msg.payload || '').toString().slice(0, 500);\nmsg.headers = { 'content-type': 'application/json' };\nmsg.url = 'http://localhost:18697/jobs/' + encodeURIComponent(meta.contentHash || 'unknown');\nmsg.payload = {\n  status: 'failed',\n  error_message: 'MinIO upload failed: ' + errMsg,\n  error_stage: 'uploading'\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1260,
    "y": 200,
    "wires": [
      [
        "ledger_patch_minio_err"
      ]
    ]
  },
  {
    "id": "ledger_patch_minio_err",
    "type": "http request",
    "z": "tab_ingest",
    "name": "Ledger -> failed (minio)",
    "method": "PATCH",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "x": 1460,
    "y": 200,
    "wires": [
      [
        "debug_minio_err"
      ]
    ]
  },
  {
    "id": "ledger_publish_error_fn",
    "type": "function",
    "z": "tab_ingest",
    "name": "Prep publish error PATCH",
    "func": "// PATCH ledger with failed status on publish error\nconst meta = msg.meta || {};\nconst errMsg = (msg.payload || '').toString().slice(0, 500);\nmsg.headers = { 'content-type': 'application/json' };\nmsg.url = 'http://localhost:18697/jobs/' + encodeURIComponent(meta.contentHash || 'unknown');\nmsg.payload = {\n  status: 'failed',\n  error_message: 'Bloodbank publish failed: ' + errMsg,\n  error_stage: 'uploaded'\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 2080,
    "y": 240,
    "wires": [
      [
        "ledger_patch_publish_err"
      ]
    ]
  },
  {
    "id": "ledger_patch_publish_err",
    "type": "http request",
    "z": "tab_ingest",
    "name": "Ledger -> failed (publish)",
    "method": "PATCH",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "x": 2300,
    "y": 240,
    "wires": [
      [
        "debug_upload_err"
      ]
    ]
  },
  {
    "id": "ledger_patch_transcribing",
    "type": "http request",
    "z": "tab_consume_upload",
    "name": "Ledger -> transcribing",
    "method": "PATCH",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "x": 1180,
    "y": 180,
    "wires": [
      [
        "debug_ledger_transcribing"
      ]
    ]
  },
  {
    "id": "debug_ledger_transcribing",
    "type": "debug",
    "z": "tab_consume_upload",
    "name": "Ledger transcribing result",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": true,
    "complete": "true",
    "targetType": "full",
    "x": 1420,
    "y": 180,
    "wires": []
  },
  {
    "id": "ledger_patch_upload_fail",
    "type": "http request",
    "z": "tab_consume_upload",
    "name": "Ledger -> failed (upload)",
    "method": "PATCH",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "x": 1180,
    "y": 240,
    "wires": [
      [
        "debug_ledger_upload_fail"
      ]
    ]
  },
  {
    "id": "debug_ledger_upload_fail",
    "type": "debug",
    "z": "tab_consume_upload",
    "name": "Ledger upload fail result",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": true,
    "complete": "true",
    "targetType": "full",
    "x": 1420,
    "y": 240,
    "wires": []
  },
  {
    "id": "ledger_patch_ready_fn",
    "type": "function",
    "z": "tab_webhook_ready",
    "name": "Prep ready PATCH",
    "func": "// PATCH ledger to ready status after transcript fetched\nconst meta = msg.meta || {};\nconst contentHash = meta.contentHash;\nconst response = msg.payload || {};\nconst transcript = response.data && response.data.transcript;\n\nif (!transcript) {\n  node.error('Transcript not found in response', msg);\n  // Try to PATCH failed if we have content_hash\n  if (contentHash) {\n    msg.headers = { 'content-type': 'application/json' };\n    msg.url = 'http://localhost:18697/jobs/' + encodeURIComponent(contentHash);\n    msg.payload = {\n      status: 'failed',\n      error_message: 'Transcript not found in Fireflies API response',\n      error_stage: 'ready'\n    };\n    return [null, msg];\n  }\n  return [null, null];\n}\n\n// Save response for later\nmsg._transcriptResponse = response;\n\nif (!contentHash) {\n  node.warn('[webhook] No content_hash available, skipping ledger ready PATCH');\n  msg.payload = response;\n  return [msg, null];\n}\n\nmsg.headers = { 'content-type': 'application/json' };\nmsg.url = 'http://localhost:18697/jobs/' + encodeURIComponent(contentHash);\nmsg.payload = {\n  status: 'ready',\n  fireflies_id: transcript.id\n};\nreturn [msg, null];",
    "outputs": 2,
    "noerr": 0,
    "x": 850,
    "y": 120,
    "wires": [
      [
        "ledger_patch_ready"
      ],
      [
        "ledger_patch_ready_err"
      ]
    ]
  },
  {
    "id": "ledger_patch_ready",
    "type": "http request",
    "z": "tab_webhook_ready",
    "name": "Ledger -> ready",
    "method": "PATCH",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "x": 1060,
    "y": 120,
    "wires": [
      [
        "restore_for_ready_envelope"
      ]
    ]
  },
  {
    "id": "restore_for_ready_envelope",
    "type": "function",
    "z": "tab_webhook_ready",
    "name": "Restore for envelope",
    "func": "// Restore transcript response after ledger PATCH\nmsg.payload = msg._transcriptResponse || {};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1260,
    "y": 120,
    "wires": [
      [
        "build_ready_envelope"
      ]
    ]
  },
  {
    "id": "ledger_patch_ready_err",
    "type": "http request",
    "z": "tab_webhook_ready",
    "name": "Ledger -> failed (ready)",
    "method": "PATCH",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "x": 1060,
    "y": 180,
    "wires": [
      [
        "debug_ledger_ready_err"
      ]
    ]
  },
  {
    "id": "debug_ledger_ready_err",
    "type": "debug",
    "z": "tab_webhook_ready",
    "name": "Ledger ready error",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": true,
    "complete": "true",
    "targetType": "full",
    "x": 1280,
    "y": 180,
    "wires": []
  }
]